$titillium: 'Titillium Web', sans-serif;
$logo-green: #188a88;
$green: #93c54b;
$grey: #c7c7c7;
$logo-height: 150px;

body {
  background-color: #eee;
  margin: 0;
}


.app {
  text-align: center;
}


.logo {
  height: $logo-height;
}
.header {
  background-color: #ccc;
  height: 156px;
  padding: 20px;
  color: black;
}
.header-color {
  background-color: $logo-green;
  height: 6px;
}
.header-content {
  margin: 0 auto;
  width: 600px;
  text-align: center;
}
.header-content-logo {
  float: left;
  width: 300px;
  height: $logo-height;
}
.header-content-title {
  float: left;
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 64px;
    margin: 0px;
    font-family: $titillium;
  }
}


.icdtrace {
  margin-top: 30px;
}


.diagnosis-form {
  margin-bottom: 30px;
  h2 {
    margin-bottom: 5px;
  }
}
.diagnosis-text {
  margin-bottom: 10px;
}


.results {
  width: 100%;
  text-align: center;
}

